{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
<br />
<br />
{% endif %}

<h1> Login </h1>

<!-- #Create a form -->
<form method="Post" action="{% url 'login' %}">

<!-- #Protects our website from different kinds of attack -->
{% csrf_token %}
Username:
<br />
<!-- #Require input -->
<input type="text" name="username" />
<br />
Password:
<br />
<input type="password" name="password" />
<br />
<br />
<input class="btn btn-primary"type="submit" value="Login" />
</form>
{% endblock %}